# Python
__pycache__/
*.pyc

# Django
db.sqlite3
*.log

# Virtual environment
venv/
Venv/
.env

# Environment variables
.env

# Media files
media/

# VS Code
.vscode/

# OS / editor
.DS_Store
.vscode/