<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <title>{% block title %}Mi Blog{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
</head>

<body>

    <nav class="navbar">
        <div class="container nav-content">
            <div class="logo">
                <a href="/">Pirotechnitian 🚀</a>
            </div>

            <div class="hamburger" id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <ul class="nav-links" id="nav-links">
                <li><a href="#">Blog</a></li>
                <li><a href="#">About another</a></li>
                <li><a href="#">Contact less</a></li>
            </ul>
        </div>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>



    <footer class="footer">
        <div class="footer-container">

            <div class="footer-brand">
                <h3>Pirotechnitian</h3>
                <p>A Pirotechnitian writes to and for... and stops writing.</p>
            </div>

            <div class="footer-links">
                <a href="#">Blog</a>
                <a href="#">About another</a>
                <a href="#">Contact-less</a>
            </div>

    </footer>


    <script>

        const hamburger = document.getElementById("hamburger");
        const navLinks = document.getElementById("nav-links");

        hamburger.addEventListener("click", () => {
            navLinks.classList.toggle("active");
            hamburger.classList.toggle("active");
            document.body.classList.toggle("no-scroll");
        });
    </script>

</body>

</html>